---
import config from "../content/config/config.json";
const today = new Date();
---

<div class="my-8"></div>
<footer class="border-t-2 px-8 py-4 lg:px-24">
  <div class="flex justify-between">
    <div class="flex">
      <img
        src="/images/logo.png"
        alt="Disability pride logo"
        class="w-[54px] h-[54px] md:w-[64px] md:h-[64px] rounded-lg mr-2 md:mr-4 mt-2"
      />
      <a href="/">
        <div>
          <p class="footer-heading text-base md:text-lg">Accuguide</p>
          <p class="font-semibold text-sm md:text-base my-0">Discover</p>
          <p class="font-semibold text-sm md:text-base mb-0 mt-[-4px]">
            Accessibility
          </p>
        </div>
      </a>
    </div>

    <div
      class="grid grid-cols-2 gap-4 sm:grid-cols-4 md:text-base md:gap-12 lg:gap-32"
    >
      <div>
        <p class="footer-heading">Info</p>

        <a href="https://accuguide.org/info/about/">About</a>
        <br />
        <a href="https://accuguide.org/info/donate/">Donate</a>
        <br />
        <a href="/sitemap-0.xml">Sitemap</a>
      </div>
      <div>
        <p class="footer-heading">Help</p>
        <a href="https://accuguide.org/help/faq/">FAQ</a>
        <br />

        <a href="https://accuguide.org/help/resources/">Resources</a>
        <br />
        <a href="https://forms.gle/KvF2MpNiqq4frrtm8"> Feedback </a>
      </div>
      <div>
        <p class="footer-heading">Contact</p>
        <a href="mailto:support@accuguide.org">Email</a>
        <br />

        <a href="https://instagram.com/accuguideorg"> Instagram </a>
        <br />

        <a href="https://bsky.app/profile/accuguide.org"> Bluesky </a>
      </div>
      <div>
        <p class="footer-heading">Legal</p>
        <a href="https://accuguide.org/legal/privacy/">Privacy</a>
        <br />
        <a href="https://accuguide.org/legal/terms/">Terms</a>
        <br />
        <a href="https://accuguide.org/legal/disclaimers/">Disclaimers</a>
      </div>
    </div>
  </div>

  <p class="text-xs text-left sm:text-center mb-0 mt-2">
    &copy; {today.getFullYear()}
    {config.seo.siteOwner}. All rights reserved.
    <p class="text-xs text-left sm:text-center mb-0 mt-[-8px]">
      This site is powered by{" "}
      <a href="https://netlify.com" class="text-xs"> Netlify </a>
    </p>
  </p>
</footer>
