---
import HeaderLink from "./HeaderLink.astro";
import config from "../content/config/config.json";
import IconLink from "./react/IconLink";
---

<header class="border-b-2 px-4 md:px-8 py-5 flex items-center justify-between">
		<p><a class="text-base font-bold" href="/">{config.seo.title}</a></p>

		<div>
			{
				config?.contactLinks?.map((link) => {
					return (
						<IconLink {...link} />
					);
				})
			}
		</div>

</header>
<div class="my-8">

</div>

