---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"] & {
  category?: string;
  author?: string;
  updatedDate?: Date;
  heroImage?: string;
  tinaInfo?: any;
};

const {
  title,
  description,
  category,
  author,
  pubDate,
  updatedDate,
  heroImage,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
